body    {
    margin: 0;
    background-color:   white;
}
.navlist    {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 1.8rem;
    /* margin: 2rem; */
    /* max-width: 160px; */
}

a {
    text-decoration: none;
    color: #4D4D4D;
}
svg{
    color: #4D4D4D;
    width: 30px;
    height: 30px;
}

.navlink    {
    display: flex;
    font-size: 20px;
    font-family: Outfit, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.35rem;
    margin-bottom: 1.0rem;
    margin-top: 1.0rem;
    color: #222224;
    /* list-style: circle; */
}

/* split {
    float:right;
} */


header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* align-items: center; */
    /* background-color: aqua; */
}

h1  {
    font-family: Outfit, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #F7931A;
    font-style: normal;
    /* font-weight: 500; */
}

h2  {
    font-family: Outfit, sans-serif;
    text-align: center;
    color: #F7931A;
    text-decoration: underline;
    
}

h3  {
    font-family: Outfit, sans-serif;
    color: #F7931A;
    text-align: center;
}

.missiontxt   {
    font-family: Outfit, sans-serif;
    text-align: center;
    justify-content: center;
    margin: auto;
    max-width: 500px;
    color: #4D4D4D;
}

.signup {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
    /* height: 200px; */
    /* border: 3px solid green; */
     
}

.discord {
    /* margin-top: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* height: 100px; */
    /* border: 3px solid green; */
     
}

p  {
    /* font: optional; */
    font-family: Outfit, sans-serif;
    font-size: 18px;
    text-align: center;
    display: flex;
    max-width: 500px;
    margin: auto;
    color:  #4D4D4D;

}

a:hover {
    font-weight: 600;
    font-size:  20px;
    /* font-style: bold; */
}

/* .btn    {
    align-self: center;
} */


.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-color: #F7931A; */
    background-color: #4D4D4D;
    color: white;
    font-family: Outfit, sans-serif;
    padding: 10px;
    border-radius: 10px;
    border-width: 3px;
}

.button2:hover  {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}
